{% set active=4 %}
{% extends 'AppBundle:Default:index.html.twig' %}

{% block title %}Contact{% endblock %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h3>Contact</h3>
        <small><img src="http://s.gravatar.com/avatar/30627194abc62f96a85a791e0124882f?s=32">&nbsp;
        Google+: <a href="https://plus.google.com/u/0/101208917635170150796/posts">Chris Dev</a></small>
        <br>
        <small><img src="http://s.gravatar.com/avatar/30627194abc62f96a85a791e0124882f?s=32">&nbsp;
        Twitter: <a href="https://twitter.com/SuperChrisD">SuperChrisD</a></small><br>
        <small><img src="http://s.gravatar.com/avatar/30627194abc62f96a85a791e0124882f?s=32">&nbsp;
        Email: <a href="mailto:devchrisd@gmail.com">devchrisd@gmail.com</a></small>
        <br>
    </div>
</div>
<hr class="featurette-divider">
{% endblock %}
